<!DOCTYPE html>
<html>
  <head>
    <title>Eventure Travels</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/script2.js"></script>
    <link href="../styles/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
<!-- Nav bar -->
      <br>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/login">Login</a>
        <a href="/usermanagement">Add a Trip</a>
        <a href="/calendar">Calendar</a>
        <a href="/map">Map</a>
        <a href="/logout">Log Out</a>
      </div>

      <span onclick="openNav()">
        <div class ="container" onclick = "myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <div>

      </div>
      </span>
  <!-- Nav Bar -->

    <div id="main">

         <img src= "../images/eventureTravels.png" alt="Eventure Travel" class="logo">
         <!-- Header -->
         <header id="container" class= "main-header" style="padding:80px 16px">
           <p>WELCOME {{nickname}}</p>
         </header>
         <br><br>

   <!-- First Grid -->
   <div id="containter" class= "second-header" style="padding: 20px;">
     <h1 class="header1"> About us </h1>
     <h3 class="header3">The Founders</h3>
     <div>
     <p style="color: lightBlue;">
         <p> Khalil Wheatle is from Newmarket, Ontario, he is a very humble Canadian and worked on the backend of this website. In the fall he will be attending Univeristy of Waterloo and will be studying Applied Physics. He hopes to become a game developer or really anything related to computer programing!<p>

        <p>Nadia Atiyeh is from El Paso, Texas and worked on the CSS and HTML of the website. In the fall she will be attending the Univeristy of Texas at El Paso and will be studying Computer Science and Accounting. She hopes to become a data analyst. </p>


        <p>Giselle Ruiz is from Houston, Texas and also worked on the frontend of the website, In the fall she will be attending the University of Houston and will be studying Computer Science. She hopes to become a UX designer </p>


   </div>
     <br>
  </div>
<br>

   <!-- Second Grid -->

   <div id="container" class="third-header">
     <div>
      <img src="../images/adventure.png" alt="Eventurer" class="eventurer">
    </div>
      <h1 class="header1">Our Mission</h1>
      <p><strong style="font-size: 20pt; color: #387975;">Eventure Travels </strong>is the perfect app for your perfect travels. Here at Eventure Travels our goal is to make you happy. We aspire to be the best application to make scheduling your trip easier. Through our web application, users are able to plan their trip, whether it be a month long vacation, to a five hour stay. With our calendar, users will be able to see events which take place at their chosen destination at the time they will be there. Our application provides users with both a calendar and a map, to be able to see the things that they could possibly be encountering in their upcoming stay.</p>
      <br><br>

  </div>
   <br>
<!-- Third Grid -->
  <div id="container" class="fourth-header w3-black w3-opacity">
     <p>Your Eventure Awaits.<br>YEA!</p>
     <form action= '/usermanagement' method='put'>
     <div>
     <button type='submit' id="" style="border-radius: 20px; padding: 10px;">Plan a Trip!</button>
    </div>
  </form>
  <br>

  </div>

   <!-- <script> -->
    </div>

  </body>
</html>
