<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/script2.js"></script>
    <link href="../styles/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  </head>
  <body>
<!-- Nav bar -->
      <br>
      <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/login">Login</a>
        <a href="/usermanagement">Add a Trip</a>
        <a href="/calendar">Calendar</a>
        <a href="/map">Map</a>
      </div>

      <span onclick="openNav()">
        <div class ="container" onclick = "myFunction(this)">
          <div class="bar1"></div>
          <div class="bar2"></div>
          <div class="bar3"></div>
        </div>
        <div>

      </div>
      </span>
  <!-- Nav Bar -->

      <div id="main">
         <img src= "../images/eventureTravels.png" alt="Eventure Travel" class="logo">
         <!-- Header -->
   <header id="container" class= "main-header" style="padding:128px 16px">
     <h1 class="main-header">WELCOME {{nickname}}</h1>
   </header>

   <!-- First Grid -->
   <div class="w3-row-padding w3-padding-64 w3-container">
     <div class="w3-content">
       <div class="w3-twothird">
         <h1>About Us</h1>
         <h5 class="w3-padding-32">The Founders</h5>

         <p class="w3-text" style="color: lightBlue;">Khalil Wheatle is a humble canadian.<br>Nadia Atiyeh and Giselle Ruiz are from Texas, USA.</p>
       </div>

       <div class="w3-third w3-center">
         <i class="fa fa-anchor w3-padding-64 w3-text-red"></i>
       </div>
     </div>
   </div>

   <!-- Second Grid -->
   <div class="w3-row-padding w3-light-grey w3-padding-64 w3-container" style="border-radius: 25px;">
     <div class="w3-content">
       <div class="w3-third w3-center" style="width: 200px; ">
         <img src="../images/adventure.gif" alt="Eventurer" class="eventurer" >

       </div>

       <div class="w3-twothird" style="border-radius: 25px; float: right; margin-left: 20px;">
         <h1>Our Mission</h1>

         <h5 class="w3-padding-32"><strong style="font-size: 20pt; color: #387975;">Eventure Travels </strong>is the perfect app for your perfect travels. Here at Eventure Travels our goal is to make you happy. We aspire to be the best application to make scheduling your trip easier. Through our web application, users are able to plan their trip, whether it be a month long vacation, to a five hour stay. With our calendar, users will be able to see events which take place at their chosen destination at the time they will be there. Our application provides users with both a calendar and a map, to be able to see the things that they could possibly be encountering in their upcoming stay. .</h5>


       </div>
     </div>
   </div>
   <br>

   <div class="w3-container w3-black w3-center w3-opacity w3-padding-64" style="border-radius: 25px;">
       <h1 class="w3-margin w3-xlarge">Your Eventure awaits.</h1>
   </div>

   <!-- Footer -->
   <footer class="w3-container w3-padding-64 w3-center w3-opacity">
     <div class="w3-xlarge w3-padding-32">

    </div>

   </footer>

   <!-- <script> -->
    </div>
  </div><!-- <button class="w3-button w3-black w3-padding-large w3-large w3-margin-top">Get Started</button> -->



    </div>










  </body>
</html>
