<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="../javascript/script.js"></script>
    <link href="../styles/style.css" rel="stylesheet">
  </head>
  <body>
    <section id="mainMapCalendar">
      <div id="calendar">
        <h2><a href="/calendar">Calendar</a></h2>
      </div>
      <div id="map">
        <h2><a href="map">Map</a></h2>
      </div>
    </section>
    <section id="welcome">
      <div id="buttonDiv">
        <form method="get" action="/login">
          <input type="submit" value="Login" class="buttons">
        </form>
        <form method="get" action="/usermanagement">
          <input type="submit" value="Add a Trip" class="buttons"><br>
        </form>
      </div>
      <img src= "../images/Logo.png" alt="Eventure Travel" class="logo"><br>
    </section>
  </body>
</html>
