<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtJor4eSuw3Wt8fLLYCfRrdK_AvAaQxHs&libraries=places,geometry"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="/javascript/script.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">

    <script src="/javascript/script2.js"></script>
    <link href="/styles/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Eventure Travels</title>
  </head>
  <body onload="initMap()">
    <!-- Nav bar -->
          <br>
          <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a href="/"> Home </a>
            <a href="/login">Login</a>
            <a href="/usermanagement">Add a Trip</a>
            <a href="/calendar">Calendar</a>
            <a href="/map">Map</a>
            <a href="/logout">Log Out</a>
          </div>

          <span onclick="openNav()">
            <div class ="container" onclick = "myFunction(this)">
              <div class="bar1"></div>
              <div class="bar2"></div>
              <div class="bar3"></div>
            </div>
            <div>

          </div>
          </span>
      <!-- Nav Bar -->
      <div id="main">
        <img src= "../images/eventureTravels.png" alt="Eventure Travel" class="logoHeaders">

        <br><br>

        <div class ='speaker-form'>
          <div class="form-row">
            <h1 style= "text-align: center; font-family: 'Darker Grotesque', sans-serif; font-size: 45px;"> To Find Nearby Resturants Look Here! </h1>
        <input type="text" id="address" placeholder="Type an address" style="width: 100%; height: 50px; font-size: 18pt; margin-bottom: 20px; font-family: 'Darker Grotesque'; border-radius: 20px;"required><br>
        <input type="text" id="filter" placeholder="Search Filter" style="width: 100%; height: 50px; font-size: 18pt; margin-bottom: 20px; font-family: 'Darker Grotesque'; border-radius: 20px;"required><br>
        <input type="number" id="radius" placeholder="Input Value in km" style="width: 100%; height: 50px; font-size: 18pt; margin-bottom: 20px; font-family: 'Darker Grotesque'; border-radius: 20px;"required/>
          <p style= "text-align: center; font-size: 30px;" > 1 km = .621 miles </p>

        <button id="find" style="width: 100%; height: 50px; font-size: 18pt; margin-bottom: 20px; font-family: 'Darker Grotesque'; border-radius: 20px;">Go to address</button>
        <button id="scan" style="width: 100%; height: 50px; font-size: 18pt; margin-bottom: 20px; font-family: 'Darker Grotesque'; border-radius: 20px;">Search radius</button>
        <br>
        <div>
        <input type="checkbox" id="fixRad" >
        Toggle Google Filter
      </input>
      </div>
      </div>
    </div>
    <br><br>

    <div id="map"  style="height: 800px; width=100%;"></div>
  <br><br>


    <div class ='speaker-form'>
      <div class="form-row" style= "text-align: center; font-family: 'Darker Grotesque', sans-serif; font-size: 45px;">
        Results:
        <div id='search_results' class="resultsdiv"></div>
    <div id="currPos" style= "text-align: center; font-family: 'Darker Grotesque', sans-serif; font-size: 45px; margin-top: 20px;"></div>
  </div>
</div>


  </div>
  </body>
</html>
