<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAtJor4eSuw3Wt8fLLYCfRrdK_AvAaQxHs&libraries=places"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>
    <script type="text/javascript" src="/javascript/script.js"></script>
    <title>Eventure Travels</title>
  </head>
  <body onload="initMap()">
    <div id="map" style="height: 600px; width=100%;"></div>

    <form method="get" action="/">
      <input type="submit" value="Back to Home Page">
    </form>
    <input type="text" id="address" placeholder="Type an address">
    <input type="text" id="filter" placeholder="Search Filter">
    <input type="number" id="radius" value="40">
    <button id="find">Go to address</button>
    <button id="scan">Search radius</button>

    <div id='search_results'>
    </div>

    <div id="currPos">

    </div>

  </body>
</html>
