<!DOCTYPE html>
<html>
  <head>
    <title>User Management</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/javascript/script.js"></script>
    <script src="/javascript/script2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">

    <link href="/styles/style.css" rel="stylesheet">
  </head>
  <body>
    <section>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/"> Home </a>
      <a href="/login">Login</a>
      <a href="/usermanagement">Add a Trip</a>
      <a href="/calendar">Calendar</a>
      <a href="/map">Map</a>
    </div>

    <span onclick="openNav()">
      <div class ="container" onclick = "myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </section>

<section>
  <br>
      <div id="main">
        <header class='speaker-form-header'>
        <h1> Plan your Trip! </h1>
        <p> Please enter your Destination </p>
        <p> What you want to do. </p>
        <P> The max amount of km you would want to travel </p>
        </header>
        <form action= '/events' method='get' class ='speaker-form'>
          <div class="form-row">
            <label for= "Destination"> Destination: <br></label>
            <input id='destination' name='destination' type='text'/>
          </div>
        </form>
      </div>
</section>

  </body>
</html>
