<!DOCTYPE html>
<html>
  <head>
    <title>User Management</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/javascript/script2.js"></script>
    <link href="/styles/style.css" rel="stylesheet">
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href_"/"> Home </a>
      <a href="/login">Login</a>
      <a href="/usermanagement">Add a Trip</a>
      <a href="/calendar">Calendar</a>
      <a href="/map">Map</a>
    </div>

    <span onclick="openNav()">
      <div class ="container" onclick = "myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
      <div>
      </span>



    </div>

      <div id="main">
    <input type="text" id="address" placeholder="Type an address">
    <input type="text" id="filter" placeholder="Search Filter">
    <input type="number" id="radius" value="40">
    <button id="find">Go to address</button>
    <button id="scan">Search radius</button>
  </div>

  </body>
</html>
