<!DOCTYPE html>
<html>
  <head>
    <title>User Management</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="/javascript/parameters_scripts.js"></script>
    <script src="/javascript/script2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Darker+Grotesque&display=swap" rel="stylesheet">

    <link href="/styles/style.css" rel="stylesheet">
  </head>
  <body>
    <section>
      <br>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/"> Home </a>
      <a href="/login">Login</a>
      <a href="/usermanagement">Add a Trip</a>
      <a href="/calendar">Calendar</a>
      <a href="/map">Map</a>
      <a href="/logout">Log Out</a>
    </div>

    <span onclick="openNav()">
      <div class ="container" onclick = "myFunction(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
      </div>
    </section>

<section>
  <br>
  <br>
      <div id="main">
        <img src= "../images/eventureTravels.png" alt="Eventure Travel" class="logoHeaders">
        <br><br>
        <header class='speaker-form-header'>
        <h1> Plan your Trip! </h1>

        </header>
        <form action= '/events' method='post' class ='speaker-form'>
          <div class="form-row">
            <label for= "Destination" > Destination: <br></label>
            <input id='destination' name='destination' placeholder="Enter your Destination" type='text'required/>
            <br>
            <label for="Filter"> What do you want to do! <br></label>
            <input id='filter' name='filter' placeholder= "Enter what you want to do" type="text" required/>
            <br>
            <div class="buttonandradius">
              <label for="Radius"> Radius: <br></label>
              <input id='radius' name='radius' placeholder="km" type='number' required/>
              <br>
              <br>
              <button type='submit' id="parameters">Choose your Events!</button>
            </div>

          </div>
        </form>
      </div>
</section>

  </body>
</html>
