body{
background-color: #387975;
width: auto;
font-family: 'Darker Grotesque', sans-serif;
border-radius: 25px;
}
.header1{
  font-family: 'Darker Grotesque', sans-serif;
}

.header3{
  font-family: 'Darker Grotesque', sans-serif;
}

/* MAIN MENU STUFF */
.container {
  position: fixed;
  z-index: 1;
  display: inline-block;
  cursor: pointer;
  padding-left: 30px;
  padding-top: 5px;
}

.bar1,.bar2,.bar3{
  width: 35px;
  height: 5px;
  background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.5s;

}
.sidenav a{
  padding: 8px 8px 8px 32px;
  font-family: 'Darker Grotesque', sans-serif;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;

}

.sidenav a:hover{
  color: #f1f1f1;

}

.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left . 5s;
  padding: 20px;
}

@media screen and (max-heigh: 450px){
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
/* Menu STUFF */

/* Logo STUFF */
.logo{
  max-width: 60%;
  height: 400px;
  display:flex;
  align-self: stretch;
  border-radius: 200px;
  margin-top: 80px;
  display: block;
  margin: auto;
  margin-bottom: 80px;
}


/* Logo STUFF  */

.main-header{
  background-color: #E5C6C9;
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
   border-radius: 25px;
  font-size: 40pt;
  box-shadow: 5px 10px #F2A2D4;
}

.second-header{
  background-color: #518082;
  text-align: center;
  padding-right: auto;
  font-family: 'Darker Grotesque', sans-serif;
  border-radius: 25px;
  font-size: 20pt;
  box-shadow: 5px 15px #3F6069;

}
.third-header{
  background-color: #D8E6E8;
  text-align: left;
  padding-left: 40px;
  font-family: 'Darker Grotesque', sans-serif;
  border-radius: 25px;
  font-size: 20pt;
  box-shadow: 5px 15px #B5C2C7;

}
.fourth-header{
  text-align: center;
  font-family: 'Darker Grotesque', sans-serif;
  border-radius: 25px;
  font-size: 40pt;
  box-shadow: 5px 15px #274247;

}
a{
  text-decoration: none;
}
a:hover{
  color: white;
  font-weight: bold;
}

/* FORM STUFF */

.speaker-form-header {
  text-align: center;
  background-color: #E5C6C9;
  border: 1px solid #D6D9DC;
  border-radius: 25px;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  padding: 50px;
  font-family: 'Darker Grotesque', sans-serif;
  box-shadow: 5px 10px #F2A2D4 ;

}

.speaker-form-header h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.speaker-form {
  background-color: #E5C6C9;
  border: 1px solid #D6D9DC;
  border-radius:25px;
  font-family: 'Darker Grotesque', sans-serif;
  box-shadow: 5px 10px #F2A2D4;

  width: 80%;
  padding: 50px;
  margin: auto;
}

.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;

}

.form-row input[type='text'] {
  background-color: #FFFFFF;
  border: 1px solid #D6D9DC;
  border-radius: 3px;
  width: 100%;
  padding: 7px;
  font-size: 14px;
}

.form-row label {
  margin-bottom: 15px;
}
@media only screen and (min-width: 700px) {
  .speaker-form-header,
  .speaker-form {
    width: 600px;
  }
.buttonandradius input[type='number']{
  width: 50px;

}

.buttonandradius button{
  width; 50px;
  align-items: center;
}
/* FORM STUFF */


.eventurer{
  height: 400px;
  left: 0;
  float: left;
  margin-left: 90px;
  margin-right: 70px;
  margin-bottom: 60px;
  padding-right: 150px;
}
