
body{
align-items: center;
background-color: #34ebbd;
width: auto;
}
#mainMapCalendar{
  background-color: #b29edb;
  float: left;
  height: 100%;
  width: 30%;
  text-align: center;
  align-content: space-between;
  border-radius: 30px;
  margin-left: 20px;
  margin-top: 20px;
}
#welcome{
  float: center;
  background-color: #34ebbd;
  width: auto;
  align-content: center;
  max-width: 60%;
  min-width: 20%;
  height: 400px;
  margin: auto;
  margin-right: 0;
}
.logo{
  max-width: 60%;
  height: 350px;
  margin: 50px;
  float: right;
  border-radius: 200px;
  margin-top: 80px;
}
#calendar{
  margin-top: 55px;
  align-content: space-between;
  padding-top: 30%;
  height: 200px;
  font-size: 20px;
}
#map{
  margin: auto;
  align-content: space-between;
  padding-bottom: 30%;
  height: 200px;
  font-size: 20px;
}
a{
  text-decoration: none;
}
a:hover{
  color: white;
  font-weight: bold;
}
#buttonDiv{
  width: 60%;
  height: auto;
  float: right;
  margin-left: 200px;
  margin-right: 200px;
  margin-top: 100px;
}
.buttons{
  margin-left: 0px;
  margin-right: 50px;
  margin-top: 100px;
  height: 30px;
  min-width: 100px;
  color: white;
  background-color: black;
  border-radius: 15px;
  text-align: center;
  float: right;
  font-size: 14px;
}
